RewriteEngine On
RewriteBase /

# Redirect creds.json requests to 404 page
RewriteRule ^creds\.json$ /pages/errors/404.php [L,R=404]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ pages/$1.php [L]

ErrorDocument 404 /pages/errors/404.php
