.auth_form {
    width: 50rem;
    margin: 0 auto;
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    display: flex;
    column-gap: 40px;
    height: 650px;
}

@media (max-width: 768px) {
    .auth_form {
        width: 95%;
        padding: 0;
        justify-content: center;
        height: 570px;
        margin-top: -50px;
    }

}

.auth_form-left {
    background-color: $primary-1;
    border-radius: 15px;
    align-content: center;
    text-align: center;

    img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .auth_form-left {
        display: none;
    }
}

.auth_form-right {
    width: 50%;
    padding: 50px;

    button {
        width: 100%;
        margin-top: 50px;
    }

    align-self: center;
}

@media (max-width: 768px) {
    .auth_form-right {
        width: 100%;
        padding: 12%;
    }
}

.auth_container {
    height: 100dvh;
    place-content: center;

    h1 {
        line-height: 35px;
        margin-bottom: 3rem;
    }
}

.auth_copyright-text {
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top:20px;
    opacity: 40%;
}

.auth_inputfield {
    display: inline-grid;

    label {
        margin-bottom: 10px;
    }

    input {
        background-color: $grey;
        border: none;
        padding: 15px 15px 15px 15px;
        border-radius: 10px;
        font-family: 'Montserrat';
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
    }

    input:focus {
        outline: none;
    }
}