.dv_head-container {
    position: fixed;
    z-index: 9999;
    width: -webkit-fill-available;
    height: 100dvh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dv_container {
    pointer-events: all;
    min-height: 750px !important;
    background-color: white;
    min-width: 750px;
    min-height: 450px;
    border-radius: 12px 12px 0px 0px;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.15));
    position: absolute;
    max-width: 450px;
    bottom: 0;

    .dv_container-contents {
        padding: 50px;
    }

    .dv_container-title {
        font-size: 32px;
        font-weight: 600;
    }

    .dv_container-subtext {
        opacity: 50%;
    }
}

.dv_item-container {
    border-radius: 7px;
    min-height: 60px;
    background-color: $grey;
    padding: 20px;
    display: flex;
    column-gap: 20px;
    max-height: 235px;

    span {
        width: 100%;
        display: block;
    }
}

.dv_item-head-container {
    display: flex;
    column-gap: 20px;
}

@media (max-width: 790px) {
    .dv_container {
        min-width: 100%;
        min-height: 100dvh;
        border-radius: 0px;
        bottom: initial;
        top: 0;
    }

    .dv_container-title {
        font-size: 17px!important;
    }

    .dv_container-subtext {
        font-size: 12px!important;
    }

    .gl_top-divider {
        width: 100%;
    }

    .dv_item-info-container {
        align-items: flex-start!important;
    }

    .dv_item-head-container, .dv_item-info-container {
        flex-direction: column;
        gap: 20px;
    }

    .dv_item-container {
        width: auto!important;
    }

    .dv_container {
        overflow-y: auto;
        max-height: 100dvh;
        height: 100dvh;
    }

    .dv_container-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}