$grey: #F5F5F5;
$light-blue: #ECECFE;
$dark-grey: #DADADA;
$primary-1: #2E3192;
$secondary-1: #5155C9;
$primary-2: #C1D72D;
$error-error-1: #E33232;

* {
    transition: all 0.2s;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p, span, label {
    font-family: 'Montserrat';
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $primary-1;
    cursor: pointer;
}

a:hover {
    opacity: 70%;
}

body {
    background-color: $grey;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden {
    display: none !important;
}

button {
    border: none;
    cursor: pointer;
    padding: 14px;
    font-size: 16px;
    font-family: 'Montserrat';
    border-radius: 10px;
    background-color: #F5F5F5;
}

button:hover {
    opacity: 70%;
}

.but_primary {
    background-color: $primary-1;
    color: white;
}

.but_primary_icon {
    display: flex;
    align-items: center;
    border-radius: 100px !important;
    column-gap: 10px;
    color: white;
    background-color: $secondary-1 !important;
    height: 45px;
    padding: 6px !important;

    img {
        filter: invert(1);
        user-select: none;
        -webkit-user-drag: none;
    }
}

.but_negative_icon {
    display: flex;
    align-items: center;
    border-radius: 100px !important;
    column-gap: 10px;
    color: white;
    background-color: $error-error-1 !important;
    height: 45px;
    padding: 10px !important;

    img {
        filter: invert(1);
        user-select: none;
        -webkit-user-drag: none;
    }
}

.but_secondary_icon {
    display: flex;
    align-items: center;
    border-radius: 100px !important;
    column-gap: 10px;
    color: $primary-1;
    background-color: $grey !important;
    height: 45px;
    padding: 10px !important;

    img {
        filter: invert(25%) sepia(16%) saturate(5541%) hue-rotate(216deg) brightness(85%) contrast(105%);
    }
}

.but_disabled {
    color: white;
    pointer-events: none;
    opacity: 30%;
    filter: grayscale(1);
}

h1 {
    font-size: 36px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}

p, span, label, button {
    font-size: 16px;
}

@media (max-width: 768px) {
    p, span, label, button {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}

.status-indicator {
    height:20px;
    width:20px;
    min-height: 20px;
    min-width: 20px;
    border-radius:1000px;
}

.status-indicator_green {
    background-color: #00D834;
}

.status-indicator_orange {
    background-color: #FF8B00;
}

.status-indicator_red {
    background-color: #FF0001;
}

select {
    border: none;
    background-color: $grey;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat';
}

input {
    background-color: $grey;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat';
    border: none;
}

input:focus {
    outline: none;
}

textarea {
    background-color: $grey;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat';
    border: none;
    transition: 0s;
}

textarea:focus {
    outline: none;
}

.gl_ordinary-input-field {
    margin-bottom: 10px;
    display: flex;

    label, select, input, button, textarea {
        width: 50%;
    }

    textarea {
        resize: vertical;
        max-height: 200px;
        min-height: 60px;
    }

    label {
        transform: translateY(5px);
    }

}

@media (max-width: 790px) {
    .gl_ordinary-input-field {
        flex-direction: column;

        label, select, input, button, textarea {
            width: 100%;
        }

        label {
            transform: translateY(0px);
            padding-bottom: 5px;
        }
    }
}

.gl_ordinary-checkbox {
    background-color: $grey;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .gl_ordinary-checkbox-indicator {
        width: 5px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.151);
        border-radius: 100px;
    }
}

.gl_ordinary-checkbox.active {
    background-color: $primary-1;

    .gl_ordinary-checkbox-indicator {
        background-color: white;
    }
}

.gl_head-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.gl_top-divider {
    width: 90%;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.gl_circle-icon-primary {
    width: 30px;
    height: 30px;
    background-color: $primary-1;
    display: flex;
    padding: 5px;
    border-radius: 1000px;

    img {
        filter: invert(1);
    }
}

.gl_input-small input {
    width: 50% !important;
}

@media (max-width: 790px) {
    .gl_input-small input {
        width: 50% !important;
    }
}

.gl_input-small label {
    width: 75% !important;
}

.gl_input-icon {
    span {
        padding: 6px 10px 6px 10px;
        margin-right: 0px;
    }

    text-align: right;
}

@media (max-width: 790px) {
    .gl_input-icon {
        text-align: left;
    }
}