$grey: #F5F5F5;
$light-blue: #ECECFE;
$dark-grey: #DADADA;
$primary-1: #2E3192;
$secondary-1: #5155C9;
$primary-2: #C1D72D;
$error-error-1: #E33232;

* {
    transition: all 0.2s;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p, span, label {
    font-family: 'Montserrat';
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $primary-1;
    cursor: pointer;
}

a:hover {
    opacity: 70%;
}

body {
    background-color: $grey;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden {
    display: none !important;
}

button {
    border: none;
    cursor: pointer;
    padding: 14px;
    font-size: 16px;
    font-family: 'Montserrat';
    border-radius: 10px;
    background-color: #F5F5F5;
}

button:hover {
    opacity: 70%;
}

.but_primary {
    background-color: $primary-1;
    color: white;
}

.but_primary_icon {
    display: flex;
    align-items: center;
    border-radius: 100px !important;
    column-gap: 10px;
    color: white;
    background-color: $secondary-1 !important;
    height: 45px;
    padding: 10px !important;

    img {
        filter: invert(1);
    }
}

.but_secondary_icon {
    display: flex;
    align-items: center;
    border-radius: 100px !important;
    column-gap: 10px;
    color: $primary-1;
    background-color: $grey !important;
    height: 45px;
    padding: 10px !important;

    img {
        filter: invert(25%) sepia(16%) saturate(5541%) hue-rotate(216deg) brightness(85%) contrast(105%);
    }
}

h1 {
    font-size: 36px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}

p, span, label, button {
    font-size: 16px;
}

@media (max-width: 768px) {
    p, span, label, button {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}

.status-indicator {
    height:20px;
    width:20px;
    min-height: 20px;
    min-width: 20px;
    border-radius:1000px;
}

.status-indicator_green {
    background-color: #00D834;
}

.status-indicator_orange {
    background-color: #FF8B00;
}

.status-indicator_red {
    background-color: #FF0001;
}