.pp_head-container {
    position: fixed;
    z-index: 9999;
    width: -webkit-fill-available;
    height: 100dvh;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp_container {
    pointer-events: all;
    height: 50px;
    background-color: white;
    min-width: 650px;
    min-height: 450px;
    border-radius: 12px;
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.15));
    position: absolute;

    .pp_container-contents {
        padding: 50px;
    }

    .pp_container-title {
        font-size: 19px;
        font-weight: 600;
    }
}